# Ignore IDE and temporary cache files across all courses
**/.vscode/
**/.specstory/
**/scratch/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
desktop.ini
Thumbs.db
~$*

# Allow all course directories in sem-1
/*
!/PM/
!/BIA/
!/README.md
!/.gitignore