# Ignore everything
*

# Allow directories traversal
!*/

# Ban Framsticks and framspy-download completely
Framsticks*/
framspy-download/

# Allow folders
!assignments/
!scripts/
!scripts/*

# Allow external libraries
!external/**

# Allow root files
!/CMakeLists.txt
!/README.md
!/requirements.txt
!/setup.*
!/.gitignore

# Allow assignments folder and its contents (reports)
!assignments/**/*.pdf
!assignments/**/*.md
!assignments/**/*.png
!assignments/**/*.txt
!assignments/**/*.py
!assignments/**/*.csv
## Specific Framsticks file extensions:
!assignments/**/*.sim

# Allow VS C++ config
!.vscode/launch.json
!.vscode/tasks.json